*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #8098ff65;
  font-size: 16px;     background-image:url('pattern-background-mobile.svg'); 
    background-repeat: no-repeat;
    background-size: cover;
    @media(min-width:768px){
        background-image: url('pattern-background-desktop.svg');
        backface-visibility: visible;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
}

.card{
    margin: 1.5em;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 30px 50px whitesmoke;
   
    box-shadow: 0px 30px 50px hsl(245, 75%, 90%);
    @media(min-width: 768px){
        width: 400px;
        height: 600px;
        margin: 0 auto;
        margin-top:3em;
    }
    }

.img{
    
    
    height: 200px;
    width: 100%;
    margin: 0em;
    padding: 0em;
    margin-bottom: 1em;
}
.img img{
    width:100%;
    height: 100%;
    
}
.card-body
{
    padding: 1em;
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: white;   
       
}
h1{ font-size: 25px;
    font-weight: bold;
    margin-bottom: .5em;
    color:hsl(223, 47%, 23%) ;
}
p{
    line-height: 1.5em;
    margin: 1em;
    margin-bottom: 1em;
    color:  hsl(224, 23%, 55%);
    @media(min-width: 768px){        
        padding-left: 2em;        
    }  
}
.card-light{
        
    padding: 1em;
    width: 270px;
    margin-bottom: 2em;
    border-radius: .5em;
    background-color: hsl(225, 100%, 97%);
    @media(min-width: 768px){        
        width: 280px;
        
    }
}
.left{
    float: left;
    margin: .2em;     
    padding-left: 1.5em;
    color:  hsl(224, 23%, 55%);
}
.right{
    
    float: right;
    
}
.btn{
    padding: 1em 5em;
    border-radius: .5em;
    color: white;
    margin-bottom: 2em;
    background-color: hsl(245, 75%, 52%);
    border: none;
    box-shadow: 0px 10px 40px  hsl(225, 100%, 80%);
    font-weight: bold;
}
.icon
{   
    width: 30px;
    height: 30px;
    float: left;
    
}
.bold{
    font-weight: bolder;
    color:hsl(223, 47%, 23%) ;
    
}
.cancel{
     color:  hsl(224, 23%, 55%);
     font-weight: bold;
}

.btn:hover{
    background-color: hsl(245, 75%, 70%);
    cursor: pointer;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
.cancel:hover
{
    cursor: pointer;
    color:  hsl(224, 23%, 20%);
}
